// sunset
$dark-purple: #544954;
$darkest-purple: #362141;
$marroon4: #CB7A54;
$amber: #EdA558;
$yellow: #E6A13D;
$off-white: #F6E4A1;
// greys
$lightest-gray: #f7f7f5;
$light-gray: #e2e2e2;
$gray: #999;
$dark-gray: #505050;