.notepad_tag_bar {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    // justify-content: space-between;
    padding: 10px;
    position: relative;
    margin-top: auto;
    bottom: 0;
    width: 100%;
    max-height: 38px;
    box-sizing: border-box;
    border-top: 1px solid $light-gray;
    svg {
        color: $gray;
    }
    input {
        margin-left: 3px;
        margin-bottom: 3px;
    }
}

.notepad_tag_drop_results_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: $lightest-gray;
    bottom: 50px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid $light-gray;
    border-radius: 7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    p {
        cursor: pointer;
        padding-left: 5px;
        padding-right: 5px;
    }
    p:hover {
        background-color: $light-gray;
    }
    
}

.notepad_tag_drop_tags_container {
    display: flex;
    width: 200px;
    flex-grow: 1;
    overflow-x: scroll;
    white-space: nowrap;
    margin-right: 10px;
    // height: 0%;
}

.notepad_tag_drop_tag_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 238, 238);
    color: $dark-gray;
    font-size: small;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    margin-left: 8px;
    height: 25px;
    a:hover {
        color: black;
    }
    svg {
        margin-left: 5px;
        cursor: pointer;
        color: $gray;
    }
    svg:hover {
        color: $amber;
    }
}

.notepad_tag_drop_saved_status {
    display: inline-block;
    color: $dark-gray;
    font-size: small;
    margin-left: auto;
    margin-right: 10px;
}