.notes_nav_container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    font-family: $baseArial;
    font-size: 14px;
    color: white;
    background-color: rgb(26, 26, 26);
    width: 235px;
    height: 100vh;
    padding-right: 3px;
}

.notes_nav_dropdown {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    height: 40px;
    width: 200px;
}

.notes_nav_icon {
    // background-color: $darkest-gray;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 13px;
    overflow: hidden;
}

.notes_nav_email {
    color: $light-gray;
    margin-right: 10px;
}

.notes_nav_email:hover {
    color: white;
}

.notes_nav_chevron {
    margin-top: 4px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.notes_logout_button {
    animation: fadein 0.5s;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 80px;
    left: 30px;
    min-width: 150px;
    color: white;
    border-radius: 10px;
    background-color: $darkest-purple;
    padding: 10px;
}

.notes_nav_search_bar {
    width: 190px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    border-radius: 30px;
    background-color: $darkest-gray;
    color: $lightest-gray;
    svg {
        margin-right: 7px;
    }
}

.notes_nav_search_results {
    animation: fadein 0.5s;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: $lightest-gray;
    color: $darkest-gray;
    min-width: 160px;
    border-radius: 10px;
    top: 130px;
    left: 30px;
    a {
        padding: 3px;
        font-size: 14px;
    }
    a:hover {
        background-color: $light-gray;
    }
}

.notes_new_note_button {
    width: 190px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 14px;
    padding: 8px;
    background-color: #E06D34;
    border-radius: 30px;
    svg {
        margin-right: 7px;
    }
}

.notes_new_note_button:hover {
    background-color: #A63E31;
}

.notes_nav_link {
    margin-top: 3px;
    padding: 6px;
    padding-left: 23px;
    color: $light-gray;
    svg {
        margin-right: 14px;
    }
}

.notes_nav_link:hover {
    background-color: $darkest-gray;
}

.notes_nav_link:active {
    background-color: $darkest-gray;
}

.active {
    background-color: $dark-gray;
}

.active:hover {
    background-color: $dark-gray;
}

.notes_nav_about_links_bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    // position: fixed;
    // bottom: 0;
    margin-top: 170px;
    width: 100%;
    svg {
        font-size: large;
        color: wheat;
    }
}

.notes_nav_github_link {
    position: fixed;
    bottom: 0;
    margin-left: 82px;
    margin-bottom: 7px;
    width: 60px;
    color: $gray;
    filter: invert(70%);
    cursor: pointer;
}

.notes_nav_github_link:hover {
    filter: invert(100%);
}