.notebook_container {
    display: flex;
    flex-grow: 1;
    font-family: $baseArial;
}

.notebook_noteslist_container {
    width: 300px;
    background-color: $lightest-gray;
    border-right: 1px solid $light-gray;
}

header {
    height: 80px;
    box-sizing: border-box;
    border-bottom: 1px solid $light-gray;
}

.notebook_header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 18px;
    padding-right: 18px;
    p {
        font-size: 10px;
        color: $gray;
    }
}