.notebook_container {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    font-family: $baseArial;
}

.notebook_noteslist_container {
    box-sizing: border-box;
    max-height: 100vh;
    width: 380px;
    background-color: $lightest-gray;
    border-right: 1px solid $light-gray;
}

header {
    // height: 16vh;
    min-height: 60px;
    box-sizing: border-box;
    border-bottom: 1px solid $light-gray;
}

.notebook_header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 18px;
    padding-right: 18px;
    box-sizing: border-box;
    h3 {
        font-size: large;
    }
    p {
        font-size: 13px;
        color: $gray;
    }
}

.notebook_notebookitem_container {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    height: 84vh;
    overflow: hidden;
}

.notebook_notebookitem_container:hover {
    overflow-y: scroll;
}

::-webkit-scrollbar {
    padding-top: 3px;
    width: 8px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ccc;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #999;
}