.notebooks_index_container {
    padding: 27px;
    box-sizing: border-box;
    height: 100vh;
    max-height: 100%;
    width: 100%;
    font-family: $baseArial;
    overflow: scroll;
}

.notebooks_index_title {
    font-size: 20px;
}

.notebooks_index_banner {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 10px;
    font-weight: 500;
    border-bottom: 2px solid black;
}

.notebooks_index_new_notebook {
    color: #E06D34;
}

.notebooks_index_new_notebook:hover {
    color: $amber;
}

.notebooks_index_column {
    display: flex;
    justify-content: space-between;
    background-color: $lightest-gray;
    color: gray;
    font-size: 10px;
    padding: 12px;
}

.notebook_index_create_notebook_container {
    animation: fadein 0.5s;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 500px;
    color: black;
    border-radius: 10px;
    left: 40vw;
    right: 40vw;
    h3 {
        font-size: large;
        color: $darkest-gray;
    } 
    svg:hover {
        color: $gray;
    }
    p {
        margin-top: 10px;
        font-size: 14px;
        font-weight: 600;
        color: $gray;
    }
    input {
        margin-top: 10px;
        margin-bottom: 10px;
        border: 1px solid gray;
        border-radius: 5px;
        height: 45px;
        padding-left: 10px;
        font-size: 15px;
    }
    input:focus {
        border: 1px solid blue;
    }
}

.notebook_index_create_header {
    display: flex;
    justify-content: space-between;
}

.notebook_index_errors {
    p {
        color: red;
    }
}

.notebook_index_create_button_container {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid $light-gray;
    margin-top: 25px;
    padding-top: 10px; 
}

.notebook_index_create {
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid $gray;
    border-radius: 7px;
    background-color: $gray;
    color: white;
    margin-left: 10px;
}

.notebook_index_create:hover {
    background-color: $dark-gray;
}

.notebook_index_create:active {
    background-color: $darkest-gray;
}

.notebook_index_cancel {
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid $gray;
    border-radius: 7px;
}

.notebook_index_cancel:hover {
    background-color: $light-gray;
}

.notebook_index_cancel:active {
    background-color: $gray;
}