.notebook_item_container {
    display: inline-block;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 370px;
    height: 120px;
    border-bottom: 1px solid $light-gray;
    main {
        display: flex;
        flex-direction: column;
    }
    p {}
}

.notebook_item_container_active {
    box-shadow: 0 0 0 2px $amber inset;
}

.notebook_item_container:hover {
    background-color: white;
}

.notebook_item_title {
    font-size: 14px;
    font-weight: 10000;
}

.notebook_item_body {
    color: $gray;
    font-size: 14px;
    margin-bottom: 8px;
}

.notebook_item_updated_at {
    color: $gray;
    font-size: 12px;
}

.notebook_item_padder {
    height: 11px;
}