.notes_nav_container {
    display: flex;
    flex-direction: column;
    font-family: $baseArial;
    font-size: 11px;
    color: white;
    background-color: rgb(26, 26, 26);
    width: 190px;
    height: 100vh;
    padding-right: 3px;
}

.notes_logout_button {
    color: white;
    background-color: $darkest-purple;
    // padding: 2px;
}

.notes_new_note_button {
    width: 150px;
    margin-top: 20px;
    margin-left: 13px;
    margin-bottom: 14px;
    padding: 7px;
    background-color: $amber;
    border-radius: 15px;
    svg {
        margin-right: 7px;
    }
}

.notes_nav_link {
    margin-top: 3px;
    padding: 6px;
    padding-left: 21px;
    color: $light-gray;
    svg {
        margin-right: 7px;
    }
}

.notes_nav_link:hover {
    background-color: $darkest-gray;
}

.notes_nav_link:active {
    background-color: $darkest-gray;
}

.active {
    background-color: $dark-gray;
}

.active:hover {
    background-color: $dark-gray;
}