.notepad_notebook_dropdown_container {
    cursor: pointer;
}

.notepad_notebook_dropdown_title {
    color: black;
    color: gray;
}

.notepad_notebook_dropdown_menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 10px;
    border-radius: 7px;
    background-color: $darkest-purple;
    color: white;
}