.notes_nav_container {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: white;
    background-color: black;
    width: 170px;
    height: 100vh;
    padding: 10px;
}

.notes_logout_button {
    color: white;
    background-color: $darkest-purple;
    padding: 5px;
}

.notes_new_note_button {
    margin-top: 20px;
    background-color: $darkest-purple;
    svg {
        margin-right: 5px;
    }
}

.notes_nav_link {
    margin-top: 10px;
    svg {
        margin-right: 5px;
    }
}

.active {}