// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.session_background_picture {
    width: 100vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.session_page {
    background: rgba(71, 67, 107, 0.9);
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.9);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px
}

.session_page_header {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    h1 {
        font-weight: 200px;
        font-size: 50px;
    }
    p {
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 20px;
        font-size: small;
    }
}

.session_logo {
    width: 80px;
    margin: 0;
}

.session_form {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-around;
    align-items: center;
    input {
        margin: 8px;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.0);
        padding: 3px;
        font-size: small;
        width: 240px;
        height: 25px;
    }
    button {
        margin: 8px;
        border: 1px solid rgba(0, 0, 0, 0.0);
        border-radius: 4px;
        padding: 3px;
        width: 240px;
        height: 25px;
        background-color: $amber;
        color: black;
        font-size: small;
        text-align: center;
    }
    button:hover {
        background-color: #fcba65;
    }
}

.error_messages {
    width: 100%;
    height: 20px;
    text-align: center;
    color: red;
    font-size: small;
}

.session_dynamic_inputs {
    border: 1px solid white;
    background-color: white;
    justify-content: center;
}

#session_dynamic_inputs:focus {
    border: 1px solid $off-white;
    box-shadow: 0px 4px 10px rgba(138, 138, 138, 0.9);
}

input::-webkit-input-placeholder {
    font-size: small;
    text-justify: center;
    vertical-align: middle;
    // text-align: center;
}

.session_password_toggle_icon {
    position: absolute;
    right: 90px;
    margin-top: 17px;
    color: $gray;
}

.session_submit {
    color: white;
    background-color: $darkest-purple;
    text-align: center;
    padding: 10px;
    width: 100px;
    margin-bottom: 40px;
}

.session_submit:hover {
    background-color: black;
}

.session_footer {
    margin-top: 9px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.session_blurb {
    font-size: small;
}

.session_link {
    margin-top: 5px;
    font-size: 14px;
    color: $off-white;
    margin-bottom: 25px;
}